---
import { cn } from '@/lib/utils'
import Tag from './Tag.astro'

const tags = Astro.props.tags as { tag: string; tagType: string }[]
const link = Astro.props.link as string | undefined
const links = Astro.props.links as { title: string; link: string }[] | undefined
const title = Astro.props.title as string
const description = Astro.props.description as string
const active = Astro.props.active as boolean
---

<article class="h-full max-w-md">
  <div
    class="h-full flex flex-col justify-between space-y-2 rounded-xl border border-purple-400/20 bg-purple-600/20 p-3"
    role="article"
  >
    <div class="flex flex-col gap-y-2">
      <h2 aria-label="project title">
        {
          link ? (
            <a
              href={link}
              class="orbitron-regular text-[12px] hover:underline text-white"
              target="_blank"
            >
              {title}
            </a>
          ) : (
            <span class="orbitron-regular text-[12px] text-white">{title}</span>
          )
        }
        <span
          class={cn(
            'inline-block size-2 rounded-full',
            active ? 'bg-green-500' : 'bg-red-500'
          )}></span>
      </h2>
      <p
        aria-label="project description"
        class="sansation-light text-xs text-white/80"
      >
        {description}
      </p>
      {
        links && (
          <div class="flex flex-col gap-1">
            {links.map((item) => (
              <a
                href={item.link}
                class="orbitron-regular text-xs hover:underline text-white"
                target="_blank"
              >
                {item.title}
              </a>
            ))}
          </div>
        )
      }
    </div>

    <div class="flex items-center gap-1 flex-0 flex-wrap">
      {tags.map(({ tag, tagType }) => <Tag tagType={tagType} name={tag} />)}
    </div>
  </div>
</article>
